<Layout::Section::Header @title={{concat (t "registry-bridge.developers.extensions.extension") ": " @model.name}}>
    <Button @type="default" @size="sm" @icon="arrow-left" @text={{t "common.back"}} @onClick={{transition-to "developers.extensions"}} @wrapperClass="mr-2" />
    <Button @type="primary" @size="sm" @icon="save" @text={{t "common.save"}} @onClick={{perform this.save}} @isLoading={{not this.save.isIdle}} @wrapperClass="mr-2" />
    <Button @type="magic" @size="sm" @icon="paper-plane" @text={{t "registry-bridge.developers.extensions.extension-form.submit-for-review"}} @disabled={{not this.isReady}} />
</Layout::Section::Header>

<Layout::Section::Body class="overflow-y-scroll h-full">
    <div class="container">
        <div class="max-w-3xl mx-auto mt-4">
            <div class="flex flex-row items-start">
                <div class="w-32 flex flex-col justify-center">
                    <div class="mb-2">
                        <Image src={{@model.icon_url}} @fallbackSrc={{config "defaultValues.extensionIcon"}} alt={{@model.name}} class="w-32 h-32 rounded-lg border border-black shadow-sm" />
                    </div>
                    <FileUpload @name={{t "registry-bridge.developers.extensions.extension-form.upload-extension-icon"}} @accept="image/*" @onFileAdded={{perform this.uploadIcon}} @labelClass="flex flex-row items-center justify-center" as |queue|>
                        <a tabindex={{0}} class="flex items-center px-0 mt-2 text-xs no-underline truncate btn btn-sm btn-default" disabled={{not queue.files.length}}>
                            {{#if queue.files.length}}
                                <div class="mr-1.5">
                                    <Spinner />
                                </div>
                                <span>
                                    {{t "common.uploading"}}
                                </span>
                            {{else}}
                                <FaIcon @icon="icons" class="mr-1.5" />
                                <span>
                                    {{t "registry-bridge.developers.extensions.extension-form.upload-extension-icon"}}
                                </span>
                            {{/if}}
                        </a>
                    </FileUpload>
                </div>
                <div class="flex-1 px-6 space-y-6">
                    <ContentPanel @title={{t "registry-bridge.developers.extensions.extension-form.details-content-block"}} @open={{true}} @pad={{true}} @panelBodyClass="bg-white dark:bg-gray-800">
                        <InputGroup @name={{t "registry-bridge.developers.extensions.extension-form.extension-name"}} @value={{@model.name}} @helpText={{t "registry-bridge.developers.extensions.extension-form.extension-name-help-text"}} />
                        <InputGroup @name={{t "registry-bridge.developers.extensions.extension-form.extension-description"}} @helpText={{t "registry-bridge.developers.extensions.extension-form.extension-description-help-text"}}>
                            <Textarea @value={{@model.description}} placeholder={{t "registry-bridge.developers.extensions.extension-form.extension-description"}} class="form-input w-full" rows="3" />
                        </InputGroup>
                        <InputGroup @name={{t "registry-bridge.developers.extensions.extension-form.extension-tags"}} @wrapperClass="mb-0i" @helpText={{t "registry-bridge.developers.extensions.extension-form.extension-tags-help-text"}}>
                            <TagInput class="form-input" @placeholder={{t "registry-bridge.developers.extensions.extension-form.extension-add-tags"}} @allowSpacesInTags={{true}} @tags={{@model.tags}} @addTag={{@model.addTag}} @removeTagAtIndex={{@model.removeTag}} @disabled={{this.core_extension}} as |tag|>
                                {{tag}}
                            </TagInput>
                        </InputGroup>
                    </ContentPanel>
                    <ContentPanel @title={{t "registry-bridge.developers.extensions.extension-form.extension-bundle"}} @open={{true}} @pad={{false}} @panelBodyClass="bg-white dark:bg-gray-800">
                        <div class="px-4 pb-4 pt-2">
                            <FileUpload @name={{t "registry-bridge.developers.extensions.extension-form.extension-upload-bundle"}} @accept="application/x-zip" @onFileAdded={{perform this.uploadBuild}} as |queue|>
                                <a tabindex={{0}} class="flex items-center px-0 mt-2 text-xs no-underline truncate btn btn-sm btn-default" disabled={{not queue.files.length}}>
                                    {{#if queue.files.length}}
                                        <div class="mr-1.5">
                                            <Spinner />
                                        </div>
                                        <span>
                                            {{t "common.uploading"}}
                                        </span>
                                    {{else}}
                                        <FaIcon @icon="box-archive" class="mr-1.5" />
                                        <span>
                                            {{t "registry-bridge.developers.extensions.extension-form.extension-upload-bundle"}}
                                        </span>
                                    {{/if}}
                                </a>
                            </FileUpload>
                        </div>
                    </ContentPanel>
                    <ContentPanel @title={{t "registry-bridge.developers.extensions.extension-form.extension-listing-details"}} @open={{true}} @pad={{true}} @panelBodyClass="bg-white dark:bg-gray-800">
                        <InputGroup @name={{t "registry-bridge.developers.extensions.extension-form.extension-promotional-text"}} @helpText={{t "registry-bridge.developers.extensions.extension-form.extension-promotional-text-help-text"}}>
                            <Textarea @value={{@model.promotional_text}} placeholder={{t "registry-bridge.developers.extensions.extension-form.extension-promotional-text"}} class="form-input w-full" rows="3" />
                        </InputGroup>
                        <InputGroup @name={{t "registry-bridge.developers.extensions.extension-form.extension-subtitle"}} @value={{@model.subtitle}} @helpText={{t "registry-bridge.developers.extensions.extension-form.extension-subtitle-help-text"}} />
                        <InputGroup @name={{t "registry-bridge.developers.extensions.extension-form.extension-copyright"}} @value={{@model.copyright}} @helpText={{t "registry-bridge.developers.extensions.extension-form.extension-copyright-help-text"}} />
                        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
                            <InputGroup @type="url" @name={{t "registry-bridge.developers.extensions.extension-form.extension-website-url"}} @value={{@model.website_url}} @helpText={{t "registry-bridge.developers.extensions.extension-form.extension-website-url-help-text"}} @wrapperClass="mb-0i" />
                            <InputGroup @type="url" @name={{t "registry-bridge.developers.extensions.extension-form.extension-repo-url"}} @value={{@model.repo_url}} @helpText={{t "registry-bridge.developers.extensions.extension-form.extension-repo-url-help-text"}} @wrapperClass="mb-0i" />
                            <InputGroup @type="url" @name={{t "registry-bridge.developers.extensions.extension-form.extension-support-url"}} @value={{@model.support_url}} @helpText={{t "registry-bridge.developers.extensions.extension-form.extension-support-url-help-text"}} @wrapperClass="mb-0i" />
                            <InputGroup @type="url" @name={{t "registry-bridge.developers.extensions.extension-form.extension-privacy-policy-url"}} @value={{@model.privacy_policy_url}} @helpText={{t "registry-bridge.developers.extensions.extension-form.extension-privacy-policy-url-help-text"}} @wrapperClass="mb-0i" />
                            <InputGroup @type="url" @name={{t "registry-bridge.developers.extensions.extension-form.extension-tos-url"}} @value={{@model.tos_url}} @helpText={{t "registry-bridge.developers.extensions.extension-form.extension-tos-url-help-text"}} @wrapperClass="mb-0i" />
                        </div>
                    </ContentPanel>
                    <ContentPanel @title={{t "registry-bridge.developers.extensions.extension-form.extension-payment-details"}} @open={{true}} @pad={{true}} @panelBodyClass="bg-white dark:bg-gray-800">
                        <InputGroup @wrapperClass={{unless @model.payment_required "mb-0i"}}>
                            <Toggle @isToggled={{@model.payment_required}} @onToggle={{fn (mut @model.payment_required)}} @label={{t "registry-bridge.developers.extensions.extension-form.extension-payment-required"}} @helpText={{t "registry-bridge.developers.extensions.extension-form.extension-payment-required-help-text"}} />
                        </InputGroup>
                        {{#if @model.payment_required}}
                            <InputGroup>
                                <Toggle @isToggled={{@model.subscription_required}} @onToggle={{fn (mut @model.subscription_required)}} @label={{t "registry-bridge.developers.extensions.extension-form.extension-subscription-required"}} @helpText={{t "registry-bridge.developers.extensions.extension-form.extension-subscription-required-help-text"}} />
                            </InputGroup>
                            {{#if @model.subscription_required}}
                                <InputGroup @name={{t "registry-bridge.developers.extensions.extension-form.extension-subscription-billing-period"}} @helpText={{t "registry-bridge.developers.extensions.extension-form.extension-subscription-billing-period-help-text"}}>
                                    <Select @value={{@model.subscription_billing_period}} @options={{this.billingPeriodOptions}} @onSelect={{fn (mut @model.subscription_billing_period)}} @placeholder={{t "registry-bridge.developers.extensions.extension-form.extension-subscription-billing-period-placeholder"}} class="w-full" />
                                </InputGroup>
                                <InputGroup @name={{t "registry-bridge.developers.extensions.extension-form.extension-subscription-amount"}} @helpText={{t "registry-bridge.developers.extensions.extension-form.extension-subscription-amount-help-text"}} @wrapperClass="mb-0i">
                                    <MoneyInput @value={{@model.subscription_amount}} @currency="USD" />
                                </InputGroup>
                            {{else}}
                                <div class="grid grid-cols-1 lg:grid-cols-2 gap-2">
                                    <InputGroup @name={{t "registry-bridge.developers.extensions.extension-form.extension-price"}} @helpText={{t "registry-bridge.developers.extensions.extension-form.extension-price-help-text"}}>
                                        <MoneyInput @value={{@model.price}} @currency="USD" />
                                    </InputGroup>
                                    <InputGroup @name={{t "registry-bridge.developers.extensions.extension-form.extension-sale-price"}} @helpText={{t "registry-bridge.developers.extensions.extension-form.extension-sale-price-help-text"}}>
                                        <MoneyInput @value={{@model.sale_price}} @currency="USD" />
                                    </InputGroup>
                                </div>
                            {{/if}}
                        {{/if}}
                    </ContentPanel>
                    <ContentPanel @title={{t "registry-bridge.developers.extensions.extension-form.extension-screenshots"}} @open={{true}} @pad={{true}} @panelBodyClass="bg-white dark:bg-gray-800">
                        <div class="space-y-4">
                            {{#if this.isUploading}}
                                <div class="dropzone w-full rounded-lg px-4 py-8 bg-gray-50 dark:bg-gray-900 bg-opacity-25 text-gray-900 dark:text-white text-center flex flex-col items-center justify-center border-2 border-dashed border-gray-200 dark:border-indigo-500">
                                    <div class="flex items-center justify-center py-5">
                                        <Spinner class="text-sm dar:text-gray-100" @loadingMessage={{t "fleet-ops.common.uploading"}} />
                                    </div>
                                </div>
                            {{else}}
                                {{#let (file-queue name="files" onFileAdded=this.queueFile accept=(join "," this.acceptedFileTypes)) as |queue|}}
                                    <FileDropzone @queue={{queue}} class="dropzone file-dropzone" as |dropzone|>
                                        {{#if dropzone.active}}
                                            {{#if dropzone.valid}}
                                                {{t "component.dropzone.drop-to-upload"}}
                                            {{else}}
                                                {{t "component.dropzone.invalid"}}
                                            {{/if}}
                                        {{else if queue.files.length}}
                                            <div class="my-2">
                                                <FaIcon @icon="folder-open" class="text-indigo-500 mr-2" />
                                                {{t "component.dropzone.files-ready-for-upload" numOfFiles=(pluralize queue.files.length (t "component.dropzone.file"))}}
                                            </div>
                                            <div class="my-2">({{queue.progress}}%)</div>
                                        {{else}}
                                            <h4 class="font-semibold">
                                                <FaIcon @icon="folder-open" @size="lg" class="text-indigo-500 mr-2" />
                                                {{t "registry-bridge.developers.extensions.extension-form.upload-screenshots"}}
                                            </h4>
                                            <div>
                                                {{#if dropzone.supported}}
                                                    <p class="text-sm my-5">{{t "component.dropzone.dropzone-supported-files"}}</p>
                                                {{/if}}
                                                <FileUpload @name="files" @for="files" @accept={{join "," this.acceptedFileTypes}} @multiple={{true}} @onFileAdded={{this.queueFile}}>
                                                    <a tabindex={{0}} class="btn btn-magic cursor-pointer ml-1">{{t "component.dropzone.or-select-button-text"}}</a>
                                                </FileUpload>
                                            </div>
                                        {{/if}}
                                    </FileDropzone>
                                {{/let}}
                                {{#if this.uploadQueue}}
                                    <div class="mx-4">
                                        <div class="flex items-center justify-between mb-4">
                                            <span class="leading-6 dark:text-gray-100">{{t "component.dropzone.upload-queue"}}</span>
                                        </div>
                                        <div class="space-y-2 mb-4">
                                            {{#each this.uploadQueue as |file|}}
                                                <div class="flex items-center justify-between bg-blue-100 border border-blue-800 dark:border-blue-800 py-1.5 shadow-sm rounded-lg px-4">
                                                    <div class="text-xs text-blue-900 truncate">{{truncate-filename file.name 50}}</div>
                                                    <div class="flex items-center text-sm">
                                                        <Spinner class="text-blue-900 mr-2" />
                                                        <span class="font-bold text-blue-900">{{round file.progress}}%</span>
                                                    </div>
                                                </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                {{/if}}
                                <div>
                                    <div class="grid grid-cols-2 md:grid-cols-4 gap-2 md:gap-4">
                                        {{#each @model.screenshots as |file|}}
                                            <File @file={{file}} @onDelete={{this.removeFile}} />
                                        {{/each}}
                                    </div>
                                </div>
                            {{/if}}
                        </div>
                    </ContentPanel>
                </div>
            </div>
        </div>
    </div>
    <Spacer @height="500px" />
</Layout::Section::Body>