<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}}>
    <div class="modal-body-container space-y-3">
        <div class="flex flex-row items-center space-x-2">
            <div class="flb--extension-tag shadow-sm border dark:bg-gray-800 dark:border-gray-800 dark:text-gray-200">
                Extension
            </div>
            <div class="flb--extension-tag shadow-sm border dark:bg-gray-800 dark:border-gray-800 dark:text-gray-200">
                {{this.extension.category_name}}
            </div>
        </div>
        {{#if @options.progress}}
            <div class="my-4">
                <ProgressBar @title={{@options.stepDescription}} @percent={{@options.progress}} />
            </div>
        {{/if}}
        {{#if this.extension.screenshots}}
            <div class="grid grid-cols-4 gap-2">
                {{#each this.extension.screenshots as |screenshot|}}
                    <Image src={{screenshot.url}} class="flb--extension-screenshot" {{on "click" (fn this.lightboxScreenshot screenshot)}} />
                {{/each}}
            </div>
            {{#if this.screenshotInLightbox}}
                <EmberWormhole @to="console-wormhole">
                    <div class="flb--extension-screenshot-lightbox" {{did-insert this.setupScreenshotLightbox}}>
                        <Image src={{this.screenshotInLightbox.url}} class="flb--extension-screenshot" {{on "click" this.lightboxScreenshot}} />
                    </div>
                </EmberWormhole>
            {{/if}}
        {{/if}}
        <div>
            <h3 class="dark:text-white font-semibold mb-1">Overview</h3>
            <div class="space-y-1">
                <p class="dark:text-gray-200 text-sm">{{this.extension.description}}</p>
                <p class="dark:text-gray-200 text-sm">{{this.extension.promotional_text}}</p>
            </div>
        </div>
        <div>
            <h3 class="dark:text-white font-semibold mb-1">Details</h3>
            <div class="space-y-2">
                <div class="grid grid-cols-4 gap-2">
                    <div class="space-y-2">
                        <div>
                            <div class="text-sm font-semibold dark:text-gray-100">Version</div>
                            <div class="text-sm dark:text-gray-200">{{this.extension.version}}</div>
                        </div>
                        <div>
                            <div class="text-sm font-semibold dark:text-gray-100">Updated</div>
                            <div class="text-sm dark:text-gray-200">{{this.extension.updatedAt}}</div>
                        </div>
                    </div>
                    <div class="space-y-2">
                        <div>
                            <div class="text-sm font-semibold dark:text-gray-100">Author</div>
                            <div class="text-sm dark:text-gray-200">{{this.extension.publisher_name}}</div>
                        </div>
                        <div>
                            <div class="text-sm font-semibold dark:text-gray-100">Website</div>
                            <a class="text-sm dark:text-gray-200" href={{this.extension.website_url}} target={{dasherize (concat this.extension.name "-website")}}>{{this.extension.website_url}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Modal::Default>