<EmberWormhole @to="sidebar-menu-items">
    <Layout::Sidebar::Item @route="console.extensions.installed" @icon="inbox">Installed</Layout::Sidebar::Item>
    <Layout::Sidebar::Item @route="console.extensions.purchased" @icon="bag-shopping">Purchased</Layout::Sidebar::Item>
    <Layout::Sidebar::Panel @open={{true}} @title="Explore">
        <Layout::Sidebar::Item @route="console.extensions.explore.index" @icon="shapes">Explore All</Layout::Sidebar::Item>
        {{#each this.categories as |category|}}
            <LinkTo @route="explore.category" @model={{category}} class="next-nav-item">
                <div class="next-nav-item-icon-container">
                    <FaIcon @icon={{category.icon}} @size="sm" />
                </div>
                <div class="truncate w-10/12">{{category.name}}</div>
                <div class="next-nav-item-right-side"></div>
            </LinkTo>
        {{/each}}
    </Layout::Sidebar::Panel>
    <Layout::Sidebar::Panel @open={{true}} @title="Developers">
        <Layout::Sidebar::Item @route="console.extensions.developers.extensions" @icon="box-archive">Extensions</Layout::Sidebar::Item>
        <Layout::Sidebar::Item @route="console.extensions.developers.analytics" @icon="chart-simple">Analytics</Layout::Sidebar::Item>
        <Layout::Sidebar::Item @route="console.extensions.developers.payments" @icon="cash-register">Payments</Layout::Sidebar::Item>
    </Layout::Sidebar::Panel>
    <Spacer @height="200px" />
</EmberWormhole>

<Layout::Section::Container>
    {{outlet}}
</Layout::Section::Container>